body{
    background-color: blueviolet;

    
}
h1{

color: brown;

}
h1{
color:bisque ;

}

p{

font-weight: bold;
font-style: italic;
text-align: center;



}
 
#teuzin44{

    border: 1px solid red;
    
}